<div class="container">
  <fieldset class="scheduler-border">
    <legend class="scheduler-border">Filtring products</legend>
    <div>
      <select (change)="onSelect($event.target.value)">
        <option value="0">--All--</option>
        <option *ngFor="let category of categorys" value={{category}}>
          {{category}}
        </option>
      </select>
    </div>

    <p></p>
    <div>Selected Option :</div>
    <div><b>{{ selected }}</b></div>
  </fieldset>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">product Name</th>
      <th scope="col">base Price</th>
      <th scope="col">category</th>
      <th scope="col">brand</th>
      <th scope="col">product Material</th>
      <th scope="col">delivery</th>
      <th scope="col">details</th>
      <th scope="col">rating Average</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of prducts| paginate: { itemsPerPage: 20, currentPage: p }">
      <td>{{ p.productName }}</td>
      <td>{{ p.basePrice }}</td>
      <td>{{ p.category }}</td>
      <td>{{ p.brand }}</td>
      <td>{{ p.productMaterial }}</td>
      <td>{{ p.delivery| date: 'dd/MM/yyyy' }}</td>
      <td>{{ p.details }}</td>
      <td>{{ getAvg(p._id)| number : '1.1-1' }}</td>
    </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
