/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
img{
  margin-left: -9px;
  margin-top: -9px;
  border-radius: 0px
}

table{margin:auto;
  margin-top: 5%
}
